<div class="row align-items-center h-100">
    <div class="col-6 mx-auto my-auto">
        <div class="card h-100 border-secondary">
            <div class="card-header">
                <h3 class="card-title mb-0">Start</h3>
            </div>
            <div class="card-body">
                <div>
                    <button type="button" class="btn btn-primary w-100 mb-1" (click)="newQuickApp()">New Quick App</button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary w-100" (click)="loadQuickApp()">Load Quick App</button>
                </div>
            </div>
        </div>
    </div>
</div>
